
*, *::before, *::after {
            margin: 0;
            padding: 0;

            box-sizing: border-box;
        }
        
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav span {
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}
.nav :hover { 
    color: red;
    cursor: pointer;
    transform: translatey(-2px);
    transition: all 0.3s ease;
}

    

 nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
 li a{
       color: black;
     font-size: large;
      }
        

        