* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.hero {
    height: 80vh;
    background-image: url('img/hero-fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.hero-subtitle {
    font-size: 18px;
    margin-bottom: 50px;
}

.titulu-nagusia {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
      transition: all 0.3s ease;
}

.button-hero1 {
    background: red;
    color: white;
}
.button-hero1:hover {
    background:  #E72D31;
    transform: translatey(-2px);
    transition: all 0.3s ease;
}

.button-hero2:hover {
    background: black;
    transform: translatey(-2px);
    transition: all 0.3s ease;
    color: white;
}

.button-hero2 {
    background: transparent;
    border: 2px solid black;
}

.kategoriak {
    padding: 80px 0; 
    text-align: center; 
    background-color: #fdfdfd; 
}

.kategoriak-titulu {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #E72D31;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.kategoriak-items {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    max-width: 1200px; 
    margin: 0 auto; 
    flex-wrap: wrap; 
    background-color: white;
}

.kategoriak-item {
    flex-basis: 200px; 
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    padding-bottom: 20px;
}

.kategoriak-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.kategoriak-item img {
   
    width: 100%;
    height: auto;
    border-radius: 8px; 
    display: block;
    object-fit: cover; 
}

.kategoriak-item-titulu {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}
.kategoriak-item-button {
    margin-top: 15px;
}
/* botoiak ezkutatzen ditu hasieran */
.kategoriak-item-button {
    opacity: 0; 
    transform: translateY(10px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

/* hover egitean bisible egiten ditu botoiak */
.kategoriak-item:hover .kategoriak-item-button {
    opacity: 1;
    transform: translateY(0); 
}

.kategoriak-item-button .button-hero2 {
    padding: 10px 25px; 
}
.produktudestakatuak-titulu{
     font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #E72D31;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align:center;
}
.produktudestakatuak {
    padding: 80px 0;
    text-align: center;
    background-color: white; 
}

.produktudestakatuak-kontenedorea {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.produktudestakatuak-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produktudestakatuak-item {
    flex-basis: 250px; 
    text-align: left;
    margin-bottom: 40px;
    position: relative;
    display: block;
}

.produktudestakatuak-item img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    display: block;
}

.produktudestakatuak-item-titulu {
    font-size: 16px;
    margin-top: 15px;
    color: #333;
    text-transform: lowercase; 
}

.produktudestakatuak-item-prezio {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}
.prezio-zaharra {
    font-size: 14px;
    font-weight: normal;
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}
.produktudestakatuak-botoia-kontenedorea {
    margin-top: 20px;
}
.produktudestakatuak-botoia {
    background: #E72D31; 
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.produktudestakatuak-botoia:hover {
    background: rgb(204, 22, 16);
    transform: translateY(-2px);
}
.produktudestakatuak-item-link {
    text-decoration: none; 
    color: black; 
    display: block;
}
.produktudestakatuak-item-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.produktudestakatuak-item-link:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
}
.promozio-eta-iritziak {
    padding: 60px 0;
    background-color: #ffffff; 
}

.promozio-kontenedorea {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}

.promozio-blokea {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.promozio-titulu {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.eskaintzak {
    flex: 60%; 
    justify-content: space-between;
    background-color: #fcebeb;
    position: relative;
}

.promozio-deskribapen {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.promozio-irudia {
    height: 100%; 
    max-height: 200px; 
    object-fit: contain; 
    margin-left: 20px;
}

.bidalketa {
    flex: 40%;
    justify-content: space-between;
    background-color: #f7f7f7; 
}

.bidalketa-testua {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bidalketa-irudia {
    max-width: 210px; 
    object-fit: contain;
}


/* === IRITZIAK === */
.iritziak-kontenedorea {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.iritziak-goiburua h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

.iritziak-goiburua p {
    font-size: 18px;
    color: #777;
    margin-bottom: 40px;
}

.iritziak-karten-gunea {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.iritzi-karta {
    flex: 1; 
    min-width: 300px;
    max-width: 350px;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.iritzi-balorazioa {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.izarrak {
    color: gold; 
    font-size: 1.2em;
}

.iritzi-testua {
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
    min-height: 40px;
}

.bezero-profila {
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.bezero-argazkia {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.bezero-izena {
    font-weight: bold;
    font-size: 15px;
}

